@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --mario: 100rem;
    --hue: 198;
    --first-color: hsl(var(--hue), 98%, 49%);
    --first-color-alt: hsl(var(--hue), 56%, 40%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.5rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1.2rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}
/* Dark and light mode section*/
.ri-sun-fill {
    color: yellow;
}
.ri-sun-fill, .moon {
    cursor: pointer;
}
.light {
    background-color: #fff;
    color: #000;
}
.light .nav__menu-mobile {
   background-color: gray;
}
.light .close__btn {
    color: #000;
}
.light .open__btn {
    color: #000;
}
.light .section__title {
    color: #000;
}
.light .section__normal {
    color: #000;
}
.light .section__subtitle {
    color: #000;
}
.light .home__biggest {
    color: #000;
}
.light .home {
    background-color: #fff;
    color: #000;
}
.light .home a {
    color: #000;
}
.light .skills {
    background-color: #fff;
    color: #000;    
}
.light .skills__desc {
    color: #000;
}
.light .skill-text__back {
    color: #000;
}
.light .skill-arrow__front {
    color: #000;
}
.light .projects {
    background-color: #fff;
    color: #000;  
}
.light .contact__input {
    background-color: rgba(128, 128, 128, 0.345);
    color: #000;
}
.light .contact__input::placeholder {
    color: #000;
}
.light .contact__message {
    color: #000;
}
.light footer .section__subtitle {
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
}
::selection {
    background-color: var(--first-color);
    color: var(--title-color);
}
::-webkit-scrollbar {
    width: .5rem;
    border-radius: .5rem;
    background-color: hsl(228, 12%, 25%);
}
::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 35%);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 45%);
}

input,
textarea,
button, 
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--title-color);
}

img, svg {
    max-width: 100%;
    height: auto;
}

span {
    color: var(--first-color);
}

button {
    border: none;
    outline: none;
    appearance: none;
    background: none;
    color: var(--text-color);
}
/* =============== REUSABLE CLASSES =========== */

.grid {
    display: grid;
    place-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    padding: 2rem 3rem;
}
.skills__section {
    padding: 2rem 1rem;
}

.section__title,
.section__subtitle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle span {
    color: var(--first-color);
}

.section__normal {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.skills__desc {
    font-size: var(--h1-font-size);
    font-weight: var(--font-regular);
    color: var(--title-color);
}

main {
    overflow: hidden;
    margin-top: 3rem; /* For animation scroll-reveal*/
    margin-bottom: -2.2rem;
}

.button {
    background-color: var(--first-color);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: .1s;
    color: var(--title-color);
}
.button:hover {
    background-color: var(--first-color-alt);
}
.button:active {
    transform: scale(0.9);
}

/*===========Navbar==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
    background-color: hsla(0, 0%, 10%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    scroll-padding: 0;
    transition: .5s;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.nav__menu-bigscreen {
    transform: translate(-8rem);
}
.nav__menu-mobile {
    display: none;
}
.nav__list {
    display: flex;
}
.nav__list li {
    margin: .2rem 1rem;
}
.nav__logo {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
.nav__link:hover {
    color: var(--first-color);
}
.close__btn i, 
.open__btn i, 
.moon-mobile {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
/* === mobile menu icons === */

.mobile-icons__wrapper {
    display: none;
}

/*=========== Home Section ==============*/
.home {
    background-color: var(--container-color);
}
.home__container {
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.home__biggest {
    font-size: var(--biggest-font-size);
}
.home__bigger {
    font-size: var(--bigger-font-size);
}
.home__small {
    font-size: var(--small-font-size);
}

.myname .name {
    text-shadow: var(--first-color) 0 10px 20px;
}

.home__right {
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
    cursor: pointer;
}
.home__right :hover {
    transition-duration: 150ms;
}
.home__right img {
    width: 15rem;
    border-radius: 50px;
    box-shadow: var(--first-color) 0 0 20px;
}


.github__link:hover  {
    color: var(--first-color);
    transition: .2s;
}

#hand-icon {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate;
    animation-name: animate;
    display: inline-block;
    -webkit-transform-origin: 80% 80%;
    transform-origin: 80% 80%;
    font-size: 2rem;
}

@keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }
    20% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    30% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    70% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    80% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    90% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
}

.github__link {
    font-size: 1.5rem;
}



/*=========About Me Section==========*/

.about-me__container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.about-me__desc img {
    width: 1rem;
}


/* =========== Skills Section =========== */

.skills {
    background-color: var(--container-color);
}
.skills__content {
    padding-top: 3rem;
}
.skills__text {
    text-align: center;
    margin-bottom: 2.5rem;
}
.my-skills img {
    width: 3rem;
}


/*FLIP CARD SKILLS section*/

.skill-card__container { 
    perspective: 900px; 

    text-align: center;
    width: 15rem;
    height: 20rem;
    margin: 2rem;
}
.skill-card__container:hover > .skill-card {  
    cursor: pointer;
    transform: rotateX(-180deg);
    box-shadow: var(--first-color) 0 0 45px;
}

/*Prevent mirroring of front content to the back*/
.skill-card {  
    transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transition: transform 1200ms;

    border: 2px solid var(--first-color);   
    padding-top: 1rem;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}

/*It doesn't show back content of front and back card */
.skill-card-front, 
.skill-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    width: 100%;
    height: 100%;
    position: absolute;
}

.skill-card-front img {
    width: 10rem;
}
.skill-text__front {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: absolute;
    bottom: 3rem;
    width: 100%;
}
.skill-arrow__front {
    font-size: 1.8rem;
    color: #fff;
}
.skill-card-back {
    transform: rotateX(180deg);
    padding: 2rem 1rem;
}
.skill-text__back {
    color: #fff;
    font-size: 1rem;
}
#figma {
    width: 7rem;
}

/*============= Contact Section ============*/

.contact {
    flex-direction: column;
}
.contact__input {
    margin: .2rem;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}
.contact__input::placeholder {
    color: var(--text-color);
}
.contact__input:focus {
    border: 1px solid var(--first-color);
}
.contact__button:disabled {
    background-color: gray;
}
.contact__form textarea {
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
    width: 99%;
}
.contact__form {
    position: relative;
}
.contact__message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

#error-message {
    text-align: center;
    color: red;
}

/*============== Footer ==============*/

footer {
    padding: 1rem 1rem;
    width: 100%;
    background-color: var(--container-color);
}

footer p {
    text-align: center;
}

.messenger__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.telegram img, .whatsapp img {
    width: 1.2rem;
}
.telegram__link:hover {
    color: var(--first-color);
    transition: .2s;
}
.wa__link:hover {
    color: lightgreen;
    transition: .2s;
}


@media screen and (max-width: 990px) {
    .nav__menu-bigscreen {
        transform: translate(0);
    }
}

@media screen and (max-width: 850px) {
    .home__container {
        gap: 5rem;
    }
}
/*========Mobile Breakpoint==========*/
@media screen and (max-width: 770px) {
    .header--hidden {
        transform: translateY(-100%);
    }
    .nav__menu-mobile {
        position: absolute;
        z-index: var(--z-fixed);
        right: -100%;
        top: 0;
        width: 70%;
        height: 100vh;
        display: grid;
        align-items: center;
        padding-left: 2rem;
        background-color: black;
        transition: .5s;
    }
    .nav__menu-mobile.show-menu {
        right: 0;
    }
    .nav__menu-bigscreen {
        display: none;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__list li {
        margin-bottom: 1.5rem;
    }
    .nav__link {
        font-size: var(--bigger-font-size);
    }
    .close__btn i, .open__btn i, .moon-mobile {
        display: inline-block;
    }
    .close__btn {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    } 

    .mobile-icons__container {
        width: 100vw;
      
    }
    .mobile-icons__wrapper {  
        background-color: transparent;
        background-color: hsla(0, 0%, 10%, .3);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: var(--z-fixed);
        font-size: 2rem;
    }
    .mobile-icon__item .mobile-icon.active {
        color: var(--first-color);
    }

    .section__normal {
        font-size: 1rem;
    }
    .home__right img {
        width: 20rem;
    } 
    .about-me__container {
        padding-top: 1rem;
    }
    .about-me__desc img {
        width: .8rem;
    }


    .skills__desc {
        font-size: 1.1rem;
    }
    .skill-card__container {
        width: 13rem;
        height: 17rem;  
        margin: .6rem;
    } 
    .skill-card-front img {
        width: 7rem;
    }
    .skill-text__back {
        font-size: .8rem;
        padding: 0;
    }

    .messenger__container {
        gap: 2rem;
    }

    footer {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 680px) {
    .contact__input {
        width: 99%;
    }
    .section {
        padding: 2rem 1rem;
    }
   
}

@media screen and (max-width: 515px) {
    .skills__section {
        padding: 2rem 0;
    }

    .skill-card__container {
        width: 10.9rem;
        height: 15rem;
        margin: 0.7rem;
    }
    .skill-text__back {
        font-size: 0.6rem;
    }
    .skills__desc {
        font-size: 1rem;
    }
    .skill-arrow__front {
        font-size: 1.1rem;
    }
} 

@media screen and (max-width: 415px) {  
    .skill-card__container {
        width: 9.5rem;
        height: 15rem;
        margin: 0.5rem;
    }
    .skill-text__back {
        font-size: .6rem;
    }
}

@media screen and (max-width: 340px) {
    .skill-card__container {
        width: 9.5rem;
        height: 15rem;
        margin: 0.2rem;
    }
    .skill-text__back {
        font-size: .6rem;
    }
    .mobile-icons__wrapper {
        font-size: 1.7rem;
    }
}